**/.DS_Store

/test/bats
!/test/bats/bin
!/test/bats/lib
!/test/bats/libexec

/test/test_helper
!/test/test_helper/bats-assert/src
!/test/test_helper/bats-assert/load.bash
!/test/test_helper/bats-file/src
!/test/test_helper/bats-file/load.bash
!/test/test_helper/bats-support/src
!/test/test_helper/bats-support/load.bash
